<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') %>

    <body>
        <%- include('layouts/navbar') %>
            <main class="container">
                <section id="content">
                    <p>Welcome</p>
                    <div id="dash-content">
                    </div>
                </section>
            </main>
    </body>

</html>

<!-- 
    main_background: https://unsplash.com/photos/tyhpK_QelPo;
 -->
<!-- 
    ? Student Name: Meet Yogesh Panchal
    ? Student Id: 8771023
 -->